/* george specific positions + scales*/
.george .eyeball {
  width: 5.6%;
  height: 3.3%;
}

.george .iris {
  width: 71%;
  top: 5.5%;
  left: 5%;
}

.george .pupil {
  width: 60%;
  top: 10%;
  right: 20%;
}

.g-left {
  top: 29.2%;
  left: 41.3%;
}

.g-left .iris {
  top: -3%;
}

.g-right {
  top: 29.5%;
  left: 56.1%;
}
