.frame {
  border: 10px solid black;
  overflow: hidden;
  width: 550px;
  margin: auto;
}

.painting {
  height: 400px;
  width: 600px;
  margin: auto;
  transform-style: preserve-3d;
}

.layer {
  object-fit: cover;
  max-height: 100%;
  position: absolute;
  top: 10px;
  left: 40px;
}

.fore {
  transform: translateZ(200px);
}

.mid {
  transform: translateZ(120px);
}

.mid2 {
  transform: translateZ(80px);
}

.back {
  transform: translateZ(0px);
  transform: scale(1.2);
}