.frame {
  border: 10px solid black;
  overflow: hidden;
  width: 550px;
  margin: auto;
}

.painting {
  height: 400px;
  width: 600px;
  margin: auto;
  transform-style: preserve-3d;
}

.layer {
  object-fit: cover;
  max-height: 100%;
  position: absolute;
  top: 10px;
  left: 20px;
}

.fore {
  transform: translateZ(200px);
}

.mid {
  transform: translateZ(120px) translateY(10px) scale(1.05);
}

.mid2 {
  transform: translateZ(80px) translateY(10px) scaleX(1.1);
}

.back {
  transform: scale(1.2) translateY(20px);
}
