.frame {
  overflow: hidden;
  position: relative;
}

.outer {
  position: relative;
}

.inner {
  overflow: hidden;
}

.layer-container {
  width: clamp(300px, 800px, 75dvw);
  aspect-ratio: 5/4;
  margin: auto;
  transform-style: preserve-3d;
}

.layer {
  object-fit: cover;
  max-height: 100%;
  width: 100%;
  position: absolute;
  top: 10px;
  left: -10px;
}

.fore {
  transform: translateZ(80px);
}

.mid {
  transform: translateZ(10px) translateY(20px) scaleX(1.2);
}

.mid2 {
  transform: translateZ(-40px) translateY(10px) scale(1.4);
}

.back {
  transform: scale(1.5) translateY(20px) translateZ(-140px);
}
